<div class="container text-center" style="text-align: center;margin: auto;">
    <div class="row">
        <div class="col-md-4 col-sm-12 mt-5" *ngFor="let program of workoutPrograms">
          <div class="card card text-center border-0 shadow rounded-0 p-4" style="max-width: 22rem;">
            <div class="icon">
              <img src="./images/dumbell.svg" style="width: 50px;height: 50px;" alt="bumbells" srcset="">
            </div>
            <div class="card-body ">
              <h4 class="card-title fw-bold">{{program.name}}</h4>
              <p class="card-text">{{program.description}}</p>
              <div class="text-left" style="text-align: left;">
                <p class=""><b>Subscription :</b>{{program.programSubscription.name}}</p>
                <p class=""><b>Next Due Date :</b>{{program.nextDueDate|date:'mediumDate'}} </p>
                <p><b>Payments</b></p>
                <p *ngFor="let payment of program.programPayments" style="margin-left: 50px;">{{payment.paymentType}} :{{payment.amount}}</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
