
<div style="margin-left: 100px;margin-right: 100px;">
    <div class="m-3">
        <h1 class="text-danger">User Payment History</h1>
    </div>
    <div class="">
        <table class="table table-hover  table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Details</th>
                <th scope="col">Amount (Rs)</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let payment of Payments; let i = index">
                <!-- <tr> -->
                
              </ng-container>
            </tbody>
          </table>
    </div>
    <section>
      
    </section>
</div>