<div class="container">
    <div class="card shadow p-4 mb-5 bg-white rounded">
      <div class="card-body">
        <div class="d-flex justify-content-between mb-4">
          <div class="p-2 w-50">
            <input type="text" class="form-control" placeholder="Search Member..." name="search" [(ngModel)]="searchText" (input)="onSearch()">
          </div>
         
          <div class="ml-auto p-2">
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal3">Overdue </button>   
          </div>
          <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content ">
                <div class="modal-body">
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade " id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content ">
                <div class="modal-body">
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <table class="table table-bordered table-hover table-striped">
          <thead class="table-dark">
            <tr>
              <th>Id</th>
              <th>User Name</th>
              <th>NIC Number</th>
              <th>Contact No.</th>
              <th>Due Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let payment of filteredPayments">
              <td>{{ payment.id }}</td>
              <td>{{ payment.name }}</td>
              <td>{{ payment.nicNumber }}</td>
              <td>{{ payment.contactNo }}</td>
              <td>{{ payment.dueDate | date:'shortDate' }}</td>
              <td class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary me-3" [routerLink]="['/payment/pay', payment.id]">Pay</button>
                <button type="button" class="btn btn-danger" [routerLink]="['/payment/payment-history', payment.id]">Payment History</button>
                <!-- <a [routerLink]="['/payment/enrollment', memberId]">Enroll in Programs</a> -->

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  
