<!-- Header Bar -->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <!-- Gym Title and Logo -->
        <a class="navbar-brand" href="#">
            <div class="d-flex justify-content-between">
                <!-- <div class="d-flex"> -->
                    <h1 class="mt-2"> Gym</h1>
                    <div class="d-flex">
                       
                </div>
            </div>
        </a>
        <!-- User and Admin Login Button -->
        <div class="float-md-end me-5">
           
        </div>
    </div>
</nav>
