
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card id-card text-center p-4">
      <div class="card-body">
        <div class="profile-pic mb-3">
        </div>
        <div class="details text-start">
          <tr *ngIf="subscription">
            <div class="member-details-card">
              <h2>Subscription Details</h2>
              <div class="detail-item">
                <strong>Id:</strong> {{ subscription.id}}
              </div>
              <div class="detail-item">
                <strong>Title:</strong> {{ subscription.title }}
              </div>
              <div class="detail-item">
                <strong>Description:</strong> {{ subscription.description }}
              </div>
              <div class="detail-item">
                <strong>Duration:</strong> {{ subscription.duration }}
              </div>

              <div class="detail-item">
                <strong>isSpecialOffer:</strong> {{ subscription.isSpecialOffer }}
              </div>
              <div class="detail-item">
                <strong>PaymentType:</strong> {{ subscription.paymentType }}
              </div>
              <div class="detail-item">
                <strong>PaymentDate:</strong> {{ subscription.paymentDate }}
              </div>
              <div class="detail-item">
                <strong>UserCanPay:</strong> {{ subscription.userCanPay }}
              </div>
              <button class="btn" (click)="onClose()">Okay</button>
            </div>
           </tr> 
        </div>
        <div class="barcode mt-3">
        </div>
      </div>
    </div>
  </div>
