
   * {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .purple-sidebar {
    background-color:black;
    /* background-color: purple; */

    width: 280px;
    height: 100vh;
    padding: 20px;
    color: white;
  }
 
  .purple-sidebar .nav-link {
    color: white;
    text-decoration: none;
    padding: 20px;
    display: flex;
    align-items: center;
  }

  .bg{

    background-image: url('/OIP.jpg');
    background-position: center;
    background-size: contain;
    background-blend-mode: overlay;
  
   
    }
    div{
      background: transparent;
    }
  @media (max-width: 768px) {
   
  }
  
 
  .top-app-bar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
  }
  
  .navbar-nav .nav-link {
    color: #ffffff;
  }
  
  .navbar-nav .nav-link:hover {
    /* background-color: #383838; */
    background-color: blue;

    border-radius: 5px;
  }
 
  
  .router-outlet {
    width: 100%;
    padding: 20px;
  }
  
  