
<div>
  <!-- Header -->
  <div class="card text-bg-dark" style="display: flex; justify-content: center; align-items: center; ">
      <img src="./images/c148d8b3437165ea2919c5883501660a.jpg" class="card-img img-fluid " style="height: 600px;width: 1000px;   " alt="...">

      <div class="card-img-overlay d-flex align-items-center">
        <div class="ms-5">
          
        </div>
      </div>
    </div>
    
      <!-- About -->
      <div class="text-center m-5">
        <h1 class="text-danger mt-2">About Us</h1>
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <p class="h6 mt-3 lh-lg"style="text-align: left;">"As a gym owner, your time is precious. That’s why our Gym is designed to automate and simplify your administrative tasks. Say goodbye to managing spreadsheets, tracking payments manually, and scheduling classes one by one. Our system handles it all—from automated membership renewals and secure billing options to real-time scheduling and member communication. With detailed reports and analytics, you can easily monitor your gym's performance, optimize class schedules, and track member retention—all from a single, easy-to-use dashboard."
                 </p>  

            </div>
            <div class="col-md-6">
              <img src=".\images\gym-logo-vector_617585-1980.avif" alt="" srcset="">
            </div>
          </div>
        </div>

      </div>
</div>
